
footer {
    color: #fff;
    font-weight: 500;
    text-align: center;

    a {
	    color: #fff;
	}

	.footer-top {
	    background: #464646 none repeat scroll 0 0;
	    padding: 20px 0;

	    p {
	    	margin: 0;
	    }

	    span {
		    display: block;
		    font-weight: bold;
		}

		br {
		    display: none;
		}

		a:hover {
		    color: $green;
		}

	}

	.footer-bottom {
	    background: $green none repeat scroll 0 0;
	    font-weight: bold;
	    padding: 5px 0;
	}

}

