.sidebar > .widget {
    margin-bottom: 25px;
}

.widget-title {
    background: $blue none repeat scroll 0 0;
    border-radius: 10px 10px 0 0;
    color: #fff;
    display: block;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
}

//menu
.sidebar .menu {
    background: transparent none repeat scroll 0 0;
    height: auto;

    li a {
        @include style-menu-sidebar;
    }
}

//category
.widget-content .item .title-sidebar a {
    @include style-menu-sidebar;
}

//thong ke
.widget_wingfor_wpstatistics_widget ul {
    border: 1px solid $green;
    border-radius: 5px;
    color: $green;
    margin-top: 3px;
    padding: 15px 10px;

    li {
        font-weight: bold;

        label {
            font-weight: 500;
            margin-right: 5px;
            min-width: 120px;

            .fa {
                text-align: center;
                width: 20px;
            }
        }
    }
}


