.navigation {
  clear: both;
  display: block;
  float: left;
  margin: 0 0 30px;
  text-align: left;
  width: 100%;
}
.navigation .pages, .navigation .last{
    display: none;
}
.navigation span, .navigation a {
    background-color: #ffffff;
    border: 1px solid $green;
    color: $green;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    margin: 0 10px 0 0;
    min-width: 36px;
    text-align: center;
    @include border-radius(2px);
}
.navigation a:hover, .navigation .current {
    background: $green none repeat scroll 0 0 !important;
    border: 1px solid $green !important;
    color: #fff;
    font-weight: bold;
}